body{
    background: grey;
    top: 0;
    overflow: hidden;
}
.keys{
    display: flex;
    margin: 0 auto;
    top: 50%;
    left: 10%;
    width: 80%;
    position: absolute;
}
.key{
    min-width: 60px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    transition: all 0.1s;
}
.key.black--key::after{
    min-width: 30px;
    height: 100px;
    background: rgb(21, 19, 19);
    margin-left: 47px;
    position: absolute;
    content: "";
    border-radius: 0 0 5px 5px;
}
.active{
    background: linear-gradient(white, rgb(94, 94, 94));
    border-bottom: none;
}