* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: url(/public/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: rgba(230, 230, 225, 0.92);
  border: 2px solid rgba(230,230,225,0.99);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 5px 5px 40px rgba(1, 1, 1, 0.7);
}

h1 {
  margin: 32px -5px;
  color: #3C1D72;
  font-size: 40px;
  font-family: 'Afacad', sans-serif;
  letter-spacing: 0.5px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #4729A3;
  outline: none;
  width: 320px;
  background: transparent;
  color: #000;
}

.todo-input::placeholder {
  color: #181616;
  font-size: 15px;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: rgb(60,186,222);
  background: linear-gradient(90deg, #4729A3 3%,#4D2593 100%);
  color: #fff;
  text-transform: capitalize;
  text-shadow: 1px 1px rgb(6, 23, 79)
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    #783F4B 0%,
    #5E313B 100%
  );
  padding: 16px 22px;
  margin-left: 10px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    #123FBA 0%,
    #1139A7 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.384);
}

.todo-row:nth-child(6n + 1) {
  background: linear-gradient(
    90deg,
    #2A11A7 0%,
    #250F95 100%
  );
}

.todo-row:nth-child(6n + 2) {
  background: linear-gradient(
    90deg,
    #5E11A6 0%,
    #541094 100%
  );
}

.todo-row:nth-child(6n + 3) {
  background: linear-gradient(
    90deg,
    #12A568 0%,
    #10935C 100%
  );
}
.todo-row:nth-child(6n + 4) {
  background: linear-gradient(
    90deg,
    #1299A5 0%,
    #108893 100%
  );
}
.todo-row:nth-child(6n + 5) {
  background: linear-gradient(
    90deg,
    #2D5CB4 0%,
    #2954A3 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}