*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
.btn{
    position: fixed;
    z-index: 3;
    color: white;
    background-color: rgb(104, 104, 104);
    border: none;
    border-radius: 8px;
    padding: 6px 22px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(128, 128, 128);
}
#sphere{
    top:100px;
    left: 50px;
}
#box{
    top: 160px;
    left: 50px;
}
