.tasksContainer{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tasksContainer::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

.tasksContainer::-webkit-scrollbar-thumb {
    background-color: #bfbfbf; /* Color of the thumb (the draggable part) */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.tasksContainer::-webkit-scrollbar-track {
    background-color: #333; /* Color of the track (the non-draggable part) */
}