.form{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.daysContainer{
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.individualDaysContainer{
    border: 1px solid yellow;
    width: 50%;
    height: 100px;
    padding: 0 25px;
}
.dialog{
    width: 350px;
    height: 125px;
    background-color: rgb(192, 158, 117);
    border: 2px solid rgb(60, 40, 19);
    border-radius: 6px;
    text-align: center;
}
.dialogBtn{
    background: rgb(50, 47, 47);
    color: white;
    padding: 8px 14px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
}