.container{
    grid-area: 13/13/20/20;
    background: rgb(38,38,38);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}
.heading{
    font-size: 18px;
    margin: 0;
}
.currentTemperature{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
.infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0 10px 0; 
}
.icon{
    width: 55px;
    height: auto;
    margin-top: -5px;
    filter: contrast(1.3);
}
.forecastContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.forecastDayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.forecastIcon{
    width: 33px;
    margin-bottom: 5px;
    height: auto;
    filter: grayscale(0.6);
}
.forecastTemp{
    font-size: 14px;
}
.forecastDay{
    font-size: 14px;
    margin: 0;
}
.forecast_day_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.minTemp{
    color: rgb(139, 139, 139);
}