.trackerContainer{
    grid-area: 1/13/13/20;
    left: 510px;
    background: rgb(45,45,45);
    color: white;
    border-radius: 10px;
    padding: 20px 20px;
}
.trackerLineContainer{
    display: flex;
    justify-content: space-between;
    height: 38px;
    font-size: 16px;
}
.progressBarContainer{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0;
}
.progressBar{
    height: 100%;
    background: rgb(95, 181, 84);
    border-radius: 8px;
    transition: all 0.25s ease;
}

@keyframes progressBarAnimation {
    0% {
      background: rgb(29, 174, 29);
    }
    25% {
      background: rgb(190, 255, 190)
    }
    50%{
      background: rgb(16, 221, 204);
    }
    75% {
      background: rgb(150, 255, 227);
    }
    100%{
      background: rgb(29, 174, 29);
    }
  }
  .animateComplete {
    animation: progressBarAnimation 7s infinite;
  }