@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --line-border-fill: #3498db;
  --darker-blue: #256794;
  --line-border-empty: #e0e0e0;
}
body {
  font-family: "Muli", "sans-serif";
  background: rgb(60, 131, 222);
  background: linear-gradient(
    90deg,
    rgba(60, 131, 222, 0.5545083267682073) 15%,
    rgba(39, 197, 25, 0.3892422203256303) 59%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  padding: 30px 60px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 600px;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
  font-size: 20px;
}
.circle.active {
  border-color: var(--line-border-fill);
  color: var(--darker-blue);
}
.btn {
  background-color: var(--line-border-fill);
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 40px;
  margin: 5px;
  font-size: 21px;
  transition: 0.2s ease;
}
.btn:active {
  transform: scale(0.97);
  background-color: var(--darker-blue);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
