.aside{
    width: 33%;
    max-width: 300px;
    padding: 60px 30px;
    background-color: #0E1F2F;
    color: rgb(235, 235, 235);
    border-top-right-radius: 16px;
}
.heading{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}
.button{
    padding: 8px 16px;
    color: rgb(217, 217, 217);
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color: #325A5D;
    transition: background-color 0.25s ease;
}
.button:hover{
    background-color: #244042;
    cursor: pointer;
    color: white;
}